.l--price, .l--what-is {
  background-color: #1b6fd0; }

//DO NOT TOUCH! SCSS WRONG COMPILE IT!!!!!!!
.overlay {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#75000000,endColorstr=#75000000);
  zoom: 1; }