/* COLORS */
$body-bg: #f2f1ef;
$cta: #e62835;
$form: #8acafa;
$light-text: #edf9ff;
$medic-blue: #1b6fd0;
$text: #333333;

/* MEDIA */
$phone: 320px;
$phone-lan: 480px;	//bootstrap: $screen-xs
$pda: 768px;				//bootstrap: $screen-sm
$pda-lan: 992px;		//bootstrap: $screen-md
$laptop: 1200px;		//bootstrap: $screen-lg
$desktop: 2048px;

$rem-base: 14px;